* {
  margin: 0px;
  padding: 0px;
}

.FAQ {
  width: 1168px;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
}

.FAQ h1 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  color: #000000;
  margin-bottom: 16px;
}

.FAQ h2 {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  /* or 143% */

  color: #000000;
}

.Accordion {
  width: 668px;
}

@media screen and (max-device-width: 375px) {
  .FAQ {
    width: 100%;
    flex-direction: column;
    padding: 0 16px;
    align-items: center;
    margin-bottom: 50px;
  }

  .Title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .faq-desc h2 {
    text-align: center;
  }

  .Accordion {
    width: 100%;
  }
}
