* {
  margin: 0px;
  padding: 0px;
}

.hero-section {
  display: flex;
  width: 1168px;
  justify-content: space-around;
  margin: auto;
  max-width: 2000px;
}

.hero-section img {
  width: 704px;
  height: 407px;
  margin-top: 97px;
}

.left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-container h1 {
  width: 568px;
  height: 108px;
  margin-left: 136px;
  margin-top: 177px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  color: #000000;
}

.left-container h2 {
  width: 468px;
  height: 60px;
  margin-left: 136px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.hero-left-button {
  margin-left: 136px;
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  width: 140px;
  height: 36px;
  background: #5cb85f;
  border-radius: 2px;
  border-color: white;
  text-decoration: none;
  color: #ffffff;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-device-width: 550px) {
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }

  .left-container {
    width: 100%;
  }
  .left-container h1 {
    margin: 0px;
    width: 90%;
  }

  .left-container h2 {
    margin: 0px;
    width: 90%;
  }

  .hero-left-button {
    margin: 0;
  }

  .hero-section img {
    width: 100%;
    height: auto;
  }
}
