* {
  margin: 0px;
  padding: 0px;
}

.Service-Container {
  display: flex;
  justify-content: space-evenly;
  margin: 100px auto;
  max-width: 2000px;
  width: 1168px;
}

.Service-Container img {
  width: 459px;
}

.Service-Description {
  width: 468px;
}

.Desc-Title {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
  padding-top: 30px;
  padding-bottom: 24px;
}

.Desc-Center {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 18px;
  color: #000000;
}

.List li {
  display: flex;
  list-style: none;
  align-items: center;
  margin-bottom: 20px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}

.List li img {
  width: 24px;
  margin-right: 16px;
}

.Desc-List {
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;

  color: #000000;
}

@media screen and (max-device-width: 550px) {
  .Service-Container {
    display: flex;
    flex-direction: column;
  }
  .Service-Description {
    width: 100%;
    align-items: center;
  }
}
